:root {
  /* Vektor Tools brändivärit */
  --color-background: #FFFFFF;
  --color-primary: #2A160C;
  --color-secondary: #99592A;
  --color-accent: #9A8575;
}

@font-face {
    font-family: Prosto One Regular;
    src:url("/public/ProstoOneRegular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Prosto One Regular', sans-serif;
  font-size: 16px;
  color: var(--color-primary);
  background-color: var(--color-background);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.logo img {
  width: 70px;
  height: 70px;
}

.items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.items a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: bold;
}

.items a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  align-items: center;
  height: 50rem;
  padding: 1rem 3rem;
}

.hero h1 {
  font-size: 8rem;
}

.hero h2 {
  font-size: 3rem;
}
