:root {
  /* Vektor Tools brändivärit */
  --color-background: #FFFFFF;
  --color-primary: #2A160C;
  --color-secondary: #99592A;
  --color-accent: #9A8575;
}

@font-face {
    font-family: Prosto One Regular;
    src:url("public/ProstoOneRegular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Prosto One Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-background);
}

/* Headerin tyylit. */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
.logo img {
  width: 50px;
  height: 50px;
}
.items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.items a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: bold;
}
.items a:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  nav {
    padding: 1rem 3rem;
  }
  .logo img {
    width: 72px;
    height: 72px;
  }
  .items {
    gap: 4rem;
  }
  .items a {
    font-size: 1.5rem;
  }
}

/* Hero-elementin tyylit. */
.hero {
  display: flex;
  align-items: center;
  height: 20rem;
  padding: 1rem 1rem;
}
.hero h1 {
  font-size: 4rem;
}
.hero h2 {
  font-size: 1.5rem;
}

@media (min-width: 800px) {
  .hero {
    height: 40rem;
    padding: 1rem 3rem;
  }
  .hero h1 {
    font-size: 8rem;
  }
  .hero h2 {
    font-size: 3rem;
  }
}
